
.options{
    background-color: #763b3e;
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 5px;
    :hover{
        background-color: #af6464;
        cursor: pointer;
    }
}
.option{
    width: 100%;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 2px;
    :hover{
        cursor: pointer;
    }
}

.classrooms-options{
    background-color: #763b3e;
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 5px;
    :hover{
        background-color: #af6464;
        cursor: pointer;
    }
}

.selected-option{
    background-color: #d5cccc;
    color: #763b3e;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    width: 100%;
    :hover{
        cursor: pointer;
    }
}

.arrow{
    position: relative;
    font-size: 20px;
    margin-left: 5px;
}

.buscar{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: brown;
    border-radius: 10px;
}

.buscar:hover{
    background-color: orange;
}